/*===============PERFIL DE USUARIO=================*/
	/************header user opciones*************/
.usr-propiedad{
	flex: 0 1 auto;
	display: flex;
	flex-flow: row wrap;
	padding: 0px;
	margin: 0px;
}
	.usr-propiedad a{
		color: rgb(255,255,255);
		border-radius: 10px;
		padding: 10px;
		transition: 0.4s;
	}
	.usr-propiedad a:hover{
		text-decoration: underline;
		color: rgb(0,0,0);
		transition: 0.5s;
		background-color: rgb(255,185,47);
	}

	.user-opt{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
		.fav-btn{
			color: rgb(255,255,255);
		}
		.usr-opt{
			padding-left: 10px;
			padding-right: 10px;
		}
			.usr-opt a{
				color: rgb(255,255,255);
			}
	/*********************************************/
		.container-user{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column nowrap;
			padding: 10px;
		}
			.datos-usuario{
				flex: 1 1 auto;
				display: flex;
				flex-flow: row wrap;
				padding: 10px;
			}
				.imagen-usuario{
					border-radius: 15px;
					background-color: rgba(100,100,100,0.5);
					width: 15%;
				}
				.datos{
					flex: 1 1 auto;
					display: flex;
					flex-flow: column nowrap;
					padding: 2px;
				}
					.nombre-usuario{
						padding: 5px;
						font-size: 45px;
					}
					.biografia{
						padding: 5px;
						font-size: 17px;
					}

			/****AREA DE LOS ARTÍCULOS FAVORITOS Y OTRAS CATEGORÍAS*/
			.favoritos-usuario{
				flex: 1 1 auto;
				display: flex;
				flex-flow: column;
			}

				/****TÍTULO DE SELECCIÓN PARA LOS FAVORITOS****/
				.titulo-fav{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row;
					border-bottom: 2px solid black;
				}
				.titulo-fav h3{
					padding: 15px;
					font-size: 20px;
					color: rgb(0,0,0);
					transition: 0.4s;
				}
					.titulo-fav h3:hover{
						transition: 0.3s;
						background-color: rgb(255,185,47);
						color: rgb(0,0,0);
					}

				/****CAJA CONTENEDORA DE LOS ARTICULOS FAVORITOS****/
				.contenido-art-fav{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row;
				}
					.articles-fav{
						flex: 1 1 auto;
						display: flex;
						flex-flow: row wrap;
						width: 100%;
					}
						/****CONTENIDO DE LOS FAVORITOS****/
						.article-fav{
							flex: 1 1 20%;
							display: flex;
							flex-flow: column wrap;
							padding: 10px;
							transition: background-color 0.7s;
							transition: 0.3s ease-in-out;
						}
							.article-fav:hover{
								box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
								transition: 0.3s ease;
								background-color: rgba(255,185,47,0.3);
								transform: translateY(-3px) scale(1.0);
							}
							.article-fav a{
								color: #000;
							}

							/****ATRIBUTOS DEL ARTÍCULO****/
							.img-muestra-fav{
								margin: 0px;
								padding: 0px;
							}
							.img-muestra-fav img{
								background-position: center;
								background-attachment: contain;
								margin: 0px;
								padding: 0px;
							}
							.descript_producto-fav{

							}
								.vendedor-fav{
									color: rgba(0,0,0,0.5);
									font-size: 13px;
								}
								.precio-fav{
									color: rgba(40,200,10,0.8);
									font-size: 18px;
									font-style: italic;
								}
								.envio-fav{
									color: rgba(220,40,20,0.8);
									font-size: 15px;
								}


/*===================================================*/
/*****AREA PARA ESTILOS DE LA PÁGINA DEL VENDEDOR*****/
.container-vendedor-usr{
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
}

	/****ESTILO PARA EL ÁREA DE LOS DATOS DE LA TIENDA****/
	.datos-usuario-vendedor{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		padding: 5px;
	}
		/****IMÁGEN DE LA TIENDA****/
		.imagen-tienda{
			width: 10%;
			height: 10%;
			padding: 5px;
			margin: 0px;
			border-radius: 10px;
		}
		/****DATOS DEL USUARIO****/
		.datos{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
		}
			.nombre-tienda{
				font-size: 27px;
				font-weight: bold;
				padding: 2px;
				margin: 0px;
			}
			.datos-tienda{
				padding: 2px;
				margin: 0px;
			}

		.boton-editar{
			padding-bottom: 3px;
		}
			.boton-editar a{
				color: rgb(255,255,255);
				padding: 7px;
				border-radius: 5px;
				background-color: rgb(122,168,2);
			}
			.boton-editar a:hover{	
				color: rgb(0,0,0);
				background-color: rgb(255,185,47);
			}

		.editardatos{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column;
			width: 40%;
			background: #CDD7D7;
			border-radius: 1em;
			padding: 3em;
			position: fixed;
			top:100px;
			left: 30%;
			z-index: 200;
			display: none;
		}
		.editardatos h4{
			color: #333;
			text-shadow:none;
		}
		.editardatos input{
			width: 100%;
			padding: 1em;
			margin-bottom: 10px;
		}

	/****CONTENEDOR DE LOS DATOS DE VENTAS Y ESTADISTICAS EN LA TIENDA****/
	.productos-ventas-pagos{
		flex: 1 1 auto;
		display: flex;
		flex-flow: column wrap;
		padding: 5px;
	}

	/****AREA DE ESTILOS DE LOS DATOS DE VENTA (TOTAL VENDIDO, EL MÁS VENDIDO, ETC.)****/
	.titulo-ventas{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		.titulo-ventas h3{
			border-bottom: 2px solid rgb(255,185,47);
		}
	.contenido-ventas{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 5px;
	}

	/****ÁREA DE ESTILOS DE LOS DATOS DE LOS PRODUCTOS VISTOS*/
	.titulo-estadistica{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		.titulo-estadistica h3{
			border-bottom: 2px solid rgb(255,185,47);
		}
	.contenido-estats{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 5px;
	}

	/****ÁREA DE ESTILOS PARA MOSTRAR LOS PAGOS QUE LA TIENDA TENGA QUE REALIZAR (DEUDAS, ETC)****/
	.titulo-pagos{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		.titulo-pagos h3{
			border-bottom: 2px solid rgb(255,185,47);
		}
	.contenido-pagos{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 5px;
	}
		.deuda-promo{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			padding: 2px;
			border-radius: 5px;
			border: 1px solid black;
		}
		.deuda-venta{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			padding: 2px;
			border-radius: 5px;
			border: 1px solid black;
		}

	/****ÁREA DE ESTILOS PARA MOSTRAR LOS CUPONES QUE HE EMITIDO****/
	.titulo-cupones{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		.titulo-cupones h3{
			border-bottom: 2px solid rgb(255,185,47);
		}
	.contenido-cupon{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 5px;
	}

		/****PRODUCTOS PUBLICADOS (CADA PRODUCTO MOSTRARÁ TODOS SUS DATOS AL LADO DE LA IMÁGEN)****/
		/****TÍTULO****/
		.titulo-productos{
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}
			.titulo-productos h3{
				border-bottom: 2px solid rgb(255,185,47);
			}
		/****CONTENEDOR DE LOS PRODUCTOS****/
		.contenido-productos{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column nowrap;
		}
			.boton-nuevo{
				padding-top: 5px;
				padding-bottom: 5px;
			}
				.boton-nuevo a{
					color: rgb(255,255,255);
					padding: 7px;
					border-radius: 5px;
					background-color: rgb(122,168,2);
				}
				.boton-nuevo a:hover{
					color: rgb(0,0,0);
					background-color: rgb(255,185,47);
				}

			/*FORMULARIO DE AGREGAR PRODUCTOS*/
			.nuevoproducto{
				width: 40%;
				background: #CDD7D7;
				border-radius: 1em;
				padding: 3em;
				position: fixed;
				top:100px;
				left: 30%;
				z-index: 200;
				display: none;
			}
			.nuevoproducto h4{
				color: #333;
			text-shadow:none;
			}
			.nuevoproducto input{
				width: 100%;
				padding: 1em;
				margin-bottom: 10px;
			}

			.mi-prod{
				flex: 1 1 auto;
				display: flex;
				flex-flow: column wrap;
				padding-top: 5px;
				padding-bottom: 5px;
			}
				.article-prod{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					border: 1px solid black;
					border-radius: 5px;
				}
					.img-prod{
						padding: 5px;
						margin: 0px;
						border-radius: 10px;
						align-items: center;
					}
					.img-prod img{
						width: 20%;
					}
					.descript-prod{
						flex: 1 1 auto;
						display: flex;
						flex-flow: column;
						padding-top: 5px;
						padding-bottom: 5px;
					}
						.precio-fav{

						}
						.desc-prod{

						}
						.envio-fav{

						}
/*********************************************************/
/****ESTILOS DEL PERFIL DEL ADMINISTRADOR DE LA PÁGINA****/
.container-admin{
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
}
	/*ESTILO PARA LOS DATOS DEL ADMINISTRADOR*/
	.datos-admin{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		padding: 5px;
	}
		/*PERFIL DEL ADMINISTRADOR*/
		.imagen-admin{
			width: 10%;
			height: 10%;
			padding: 5px;
			margin: 0px;
			border-radius: 10px;
		}
			.nombre-admin{
				font-size: 27px;
				font-weight: bold;
				padding: 2px;
				margin: 0px;
			}
			.datos-admin-gen{
				padding: 2px;
				margin: 0px;
			}
	/*CONTENEDOR DE LAS TABLAS*/
	.usuarios-tablas{
		flex: 1 1 auto;
		display: flex;
		flex-flow: column wrap;
		padding: 5px;
	}
		/*ESTILO PARA LA TABLA DE USUARIOS*/
		.titulo-usuarios-tablas{
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}
			/*LINEA BAJO EL TITULO*/
			.titulo-usuarios-tablas h3{
				border-bottom: 2px solid rgb(255,185,47);
			}
		/*ESTILO PARA EL CONTENEDOR*/
		.contenido-usuarios-tablas{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
			/*DISPOSICION DE LAS FILAS Y COLUMNAS*/
			.tabla-usuarios{
				flex: 1 1 auto;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				border: 1px solid black;
				width: 75%;
				margin: 5px;
			}
				/*ESTILO PADA EL TITULO DE CADA COLUMNA*/
				.cabecera-tabla-usr{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
					text-align: center;
				}
				/*ESTILO PARA LAS FILAS*/
				.contenido-tabla-usr{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
				}
					/*ESTILO PARA LAS CELDAS DE LA TABLA*/
					.celda-usr{
						padding: 5px;
						width: 16.666666667%;
						border: 1px solid black;
					}
					.celda-usr-btn{
						padding: 5px;
						width: 16.666666667%;
						border: 1px solid black;
						text-align: center;
					}


		/*ESTILO PARA LA TABLA ROLES*/
		.titulo-roles-tablas{
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}
			/*LINEA BAJO EL TITULO*/
			.titulo-roles-tablas h3{
				border-bottom: 2px solid rgb(255,185,47);
			}
		/*ESTILO PARA EL CONTENEDOR*/
		.contenido-roles-tablas{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
			/*DISPOSICIÓN DE LAS FILAS Y LAS COLUMNAS*/
			.tabla-roles{
				flex: 1 1 auto;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				border: 1px solid black;
				width: 50%;
				margin: 5px;
			}
				/*ESTILO PARA EL TITULO DE CADA COLUMNA*/
				.cabecera-tabla-rl{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
					text-align: center;
				}
				/*ESTILO PARA CADA FILA*/
				.contenido-tabla-rl{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
				}
					/*ESTILO DE CADA CELDA ROLES*/
					.celda-rl{
						padding: 5px;
						width: 25%;
						border: 1px solid black;
					}
					.celda-rl-btn{
						padding: 5px;
						width: 25%;
						border: 1px solid black;
						text-align: center;
					}


		/*ESTILO PARA LA TABLA ETIQUETAS*/
		.titulo-tags-tablas{
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}
			/*LINEA BAJO EL TITULO*/
			.titulo-tags-tablas h3{
				border-bottom: 2px solid rgb(255,185,47);
			}
		/*ESTILO PARA EL CONTENEDOR*/
		.contenido-tags-tablas{
			flex: 1 1 auto;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
			/*DISPOSICIÓN DE LAS FILAS Y LAS COLUMNAS*/
			.tabla-tags{
				flex: 1 1 auto;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				border: 1px solid black;
				width: 50%;
				margin: 5px;
			}
				/*ESTILO PARA EL TITULO DE CADA COLUMNA*/
				.cabecera-tabla-tgs{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
					text-align: center;
				}
				/*ESTILO PARA CADA FILA*/
				.contenido-tabla-tgs{
					flex: 1 1 auto;
					display: flex;
					flex-flow: row wrap;
					width: 100%;
				}
					/*ESTILO DE CADA CELDA ETIQUETAS*/
					.celda-tgs{
						padding: 5px;
						width: 25%;
						border: 1px solid black;
					}
					.celda-tgs-btn{
						padding: 5px;
						width: 25%;
						border: 1px solid black;
						text-align: center;
					}
/*********************************************************/